body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main-content{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-left: 500;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

.about{
    margin-bottom: 40px ;
}

.about-position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 155px;
    margin-bottom: 20px;
} 

.about-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}
.about-descr{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;

}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects{
 margin-bottom: 50px;
}

.projects-list{
    padding: 0;
    margin-left: 15px;
}

.projects-item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project, .project-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link{
    margin-left: 10px;
}
 
.bracket{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:#000000;
}


.position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;  
    margin-bottom: 10px;
}

.organisation{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:  #770000;
}

.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color:#000000;
}

.work-list{
 padding: 0;
 margin-left: 15px;
 margin-bottom: 45px;
}

.work-list-item{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
}

.title-edu{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.uni{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:  #770000;
    margin-bottom: 10px;
}

.specialisation{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

.sidebar{
    padding-top: 40px;
    background-color: #6B4A54;
    width: 370px;
}

.photo{
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts, .tech-skills, .soft-skills{
 margin-left:40px;
}

.contacts{
margin-bottom: 50px;
}

.contact-type{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;  
    color: #FFFFFF;
   
}

.contact-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #cabbbf;
    margin-left: 10px;
}

.tech-skills-list{
    color: #FFFFFF;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 50px;
}

.soft-skills-list{
    color: #FFFFFF;
    padding: 0;
    margin-left: 20px;
}

.tech-skills-item{
    color: #770000;
}

.tech-skills-text{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;  
}